<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE root [
]>

<phpunit colors="true"
         stopOnFailure="false"
         syntaxCheck="false">

<testsuites>
       <testsuite name="Drupal Coverage">
           <directory>&path;</directory>
       </testsuite>
</testsuites>squash

    <filter>
         <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
             <directory suffix=".php">&path;</directory>
             <directory suffix=".inc">&path;</directory>
             <directory suffix=".module">&path;</directory>
             <exclude>
                <directory suffix=".php">&path;/tests</directory>
                <directory suffix=".inc">&path;/tests</directory>
                <directory suffix=".module">&path;/tests</directory>
                <directory suffix=".api.php">&path;</directory>
             </exclude>
         </whitelist>
    </filter>
</phpunit>
