<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         stopOnFailure="false"
         syntaxCheck="false">

<testsuites>
       <testsuite name="Drupal Coverage">
           <directory>/home/travis/build/legovaer/drupal-7/drupal/sites/all/modules</directory>
       </testsuite>
    </testsuites>

    <filter>
         <whitelist>
             <directory suffix=".php">.</directory>
             <directory suffix=".inc">.</directory>
             <directory suffix=".module">.</directory>
             <directory suffix=".inc">/home/travis/build/legovaer/drupal-7/drupal/sites/all/modules</directory>
             <directory suffix=".module">/home/travis/build/legovaer/drupal-7/drupal/sites/all/modules</directory>
             <exclude>
                 <directory>drupal_ti</directory>
                 <directory>tests</directory>
             </exclude>
         </whitelist>
         <blacklist>
            <directory>/home/travis/build/legovaer/drupal-7/drupal/sites/all/modules/*/tests</directory>
         </blacklist>
    </filter>
</phpunit>